<h2>Add a Video</h2>
<form (ngSubmit)="onFormSubmit(addVideoFormData)">
  <div class="add-video__container">
      <div class="add-video__input-wrapper">
        <mi-input name="videoTitle" [(ngModel)]="addVideoFormData.videoTitle" [placeholder]="placeholder" />
      </div>
      <div class="add-video__input-wrapper">
        <select class="select__single" id="authorSelect" [(ngModel)]="addVideoFormData.selectedAuthor" name="selectedAuthor" required>
          <option value="">Video author</option>
          <option *ngFor="let author of authors$ | async" [value]="author.id">{{ author.name }}</option>
        </select>
      </div>
      <div class="add-video__input-wrapper">
        <select class="select__multiple" id="categoriesSelect" [(ngModel)]="addVideoFormData.selectedCategories" name="selectedCategories" multiple required>
          <option *ngFor="let category of categories$ | async" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
    </div>
    <div class="add-video__buttons-wrapper">
      <mi-button type="submit" buttonType="secondary" [text]="'Submit'" />
      <mi-button buttonType="tertiary" [text]="'Cancel'" (click)="onAddVideoCancelClicked()" />
    </div>
</form>
  
  