mi-input {
    width: 100%;
}

mi-button {
    margin-right: var(--gap-unit);
}

.select__single {
    appearance: none; /* Removes default arrow button on some browsers */
    -webkit-appearance: none; /* Removes default arrow button on Safari */
    -moz-appearance: none; /* Removes default arrow button on Firefox */
    padding: var(--gap-unit) calc(var(--gap-unit) * 2);
    border-radius: var(--border-radius);
    cursor: pointer; /* Change cursor on hover */
    border: 1px solid var(--lighter-gray);
    min-height: 36px;
    border-radius: var(--border-radius);
    width: 100%;
}

.select__multiple {
    appearance: none; /* Removes default arrow button on some browsers */
    -webkit-appearance: none; /* Removes default arrow button on Safari */
    -moz-appearance: none; /* Removes default arrow button on Firefox */
    padding: var(--gap-unit) calc(var(--gap-unit) * 2);
    border-radius: var(--border-radius);
    cursor: pointer; /* Change cursor on hover */
    border: 1px solid var(--lighter-gray);
    min-height: 36px;
    border-radius: var(--border-radius);
    width: 100%;
}

.add-video-wrapper {
    border-bottom: 1px solid var(--lighter-gray)
}

.add-video__wrapper {
    display: flex;
    flex-direction: column;
    padding: calc(var(--gap-unit) * 2);
}

.add-video__input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--gap-unit) * 2);
    align-items: center;
}

.add-video__buttons-wrapper {
    display: flex;
    width: 100%;
    padding: calc(var(--gap-unit) * 2);
}

mi-button {
    margin-right: var(--gap-unit);
}