<div class="wrapper">
  <div class="search-input-wrapper">
    <mi-input [(ngModel)]="filterCriteria" />
    <mi-button buttonType="secondary" (click)="onFilterApply()" [text]="'Search'"/>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Video Name</th>
        <th>Author</th>
        <th>Categories</th>
        <th>HQ Format</th>
        <th>Release Date</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let video of videos$ | async; index as i; first as isFirst">
        <td>{{ video.name }}</td>
        <td>{{ video.author }}</td>
        <td>{{ video.categories.join(", ") }}</td>
        <td>{{ video.format }}</td>
        <td>{{ video.releaseDate }}</td>
        <td>
          <div class="table-options-cell">
            <mi-button buttonType="transparent" [text]="'Edit'" (click)="onVideoEdit()" />
            <mi-button buttonType="tertiary" [text]="'Delete'" (click)="onVideoDelete()" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
