.wrapper {
  overflow: auto;
  padding-bottom: calc(var(--gap-unit) * 2);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: calc(var(--gap-unit) * 2);
  border: 1px solid var(--lighter-gray);
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background-color: var(--lighter-gray);
}

.search-input-wrapper {
  display: flex;
  margin-bottom: calc(var(--gap-unit) * 2);
  height: 36px;
}

.table-options-cell {
  display: flex;
  justify-content: space-around;
}
