.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--gap-unit) * 2);
  background: var(--dark-gray);
  color: var(--white);
}

.header__home-link {
  color: var(--white);
  text-decoration: none;
}

.main {
  padding: 0 calc(var(--gap-unit) * 2);
}

.footer {
  margin-top: auto;
  padding: calc(var(--gap-unit) * 2);
  background: var(--lighter-gray);
}