.button {
  padding: var(--gap-unit) calc(var(--gap-unit) * 2); 
  border: none;
  border-radius: var(--border-radius);
  color: var(--white);
  cursor: pointer;
  background: var(--light-gray);
  height: 100%;
}

.primary {
  background: var(--green);
}

.secondary {
  background: var(--azure);
}

.tertiary {
  background: var(--pickled-radish);
}

.transparent {
  background: var(--january-blue); 
}
