.delete-modal {
    background: var(--white);
    padding: calc(var(--gap-unit) * 4) calc(var(--gap-unit) * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

p {
    padding: calc(var(--gap-unit) * 4) calc(var(--gap-unit) * 2);
}

.delete-modal__button-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(var(--gap-unit) * 4);
}